<section style="background-color: #eee;">
    <div class="container py-5">
     
  
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
                
              <h5 class="my-3">{{lecture.desc}}</h5>
              <p class="text-muted mb-1">{{lecture.name}}</p>
              <div class="d-flex justify-content-center mb-2">
                <button (click)="loadLectureHomeWork(lecture.id)" type="button" class="btn btn-primary">الواجب</button>
                <button (click)="loadLectureQuestions(lecture.id)" type="button" class="btn btn-primary ms-2">الاسئلة</button>
              </div>
            </div>
          </div>
      
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">لينك المحاضرة </p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{lecture.link}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">عدد الاسئلة</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{lecture.questionsCount}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">عدد المشاهدات</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{lecture.viewsCount}}</p>
                </div>
              </div>            
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
  <div class="container py-5">
    <h3>{{subContainerView}}</h3>

  <div class="row">
  <div class="col-lg-10">
  <div class="card mb-10">
    <div class="card-body">
      {{subContainerView}}
    </div>
  </div>
  </div>
  </div>
  </div>